# packages
node_modules

# Coverage directory used by tools like istanbul
coverage
*.lcov

# build files and directories
dist

# vscode files and directories
.vscode
.vscode/*
!.vscodeignore

# IOS Files
.DS_Store

# log and error files
*-error.json
*-error.log
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

# lock files 
yarn.lock