{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": ".",
    "parser": {
      "syntax": "typescript"
    },
    "preserveAllComments": false,
    "keepClassNames": true,
    "target": "es2022",
    "paths": {
      "#/*": ["./src/*"]
    }
  },
  // "minify": true,
  "module": {
    "type": "es6",
    "strict": true,
    "noInterop": true
  }
}
